@charset "UTF-8";
/* default value */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Jua', sans-serif;
}

body {
	background-color: #A4A4A4;
}

body::-webkit-scrollbar {
	display: none;
}

.fixed-top {
	border-bottom: 2px solid black;
}

/* 프로그래스바 컨테이너 디자인 */
.progress-container {
	position: fixed; /*상단 고정*/
	top: 58px; /*페이지의 최상단에 붙어서 위치*/
	z-index: 1000; /*페이지의 다른 요소보다 가장 위에 나타나도록 설정*/
	width: 100%;
	height: 8px; /* 높이 */
	background: #ccc; /* 기본 배경색 */
}

/* 프로그래스바 디자인 */
.progress-bar {
	height: 8px; /* 높이 */
	background: #7E6868; /* 색상 */
	width: 0%;
}

#boardTable {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 10rem;
	background-color: white;
	margin-left: 13%;
	margin-right: 13%;
	border-radius: 2rem;
	width: 75%;
	padding: 2rem;
}

#boardTable tr:first-child {
	font-size: 1.5rem;
}

#boardTable tr {
	height: 2.5rem;
	border-bottom: 1px solid black;
}

#offcanvas-header {
	color: white;
}

#sideBar li a {
	color: white;
}

#btn {
	margin-top: 2rem;
	margin-right: 12.5%;
	width: 10rem;
	margin-left: 78%;
}

#btn a {
	padding: 1rem 3rem 1rem 3rem;
}

#boardNO {
	width: 7rem;
}

#category {
	width: 15rem;
	height: 2rem;
}

#title {
	width: 30rem;
	height: 2rem;
}

#icon {
	padding: 10px 10px 0px 10px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	margin-right: 1rem;
}

#boardTable #hr {
	width: 100%;
	border-bottom: 2px solid darkgray;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#id #writerWithDate {
	display: flex;
	flex-direction: column;
}

#id #writerWithDate span {
	color: gray;
}

#id {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

#writeDate {
	width: 20rem;
}

#btn_box {
	display: flex;
	margin: 1.5rem 13% 0 13%;
	justify-content: space-around;
}

#content {
	margin-left: 0.5rem;
}

.ck.ck-editor__main > .ck-editor__editable {
	height: 15rem;
}