@charset "UTF-8";
/* default value */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Jua', sans-serif;
}

#boardTable {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 10rem;
	background-color: white;
	margin-left: 13%;
	margin-right: 13%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 2rem;
}

#boardTable tr:first-child {
	font-size: 1.5rem;
}

#boardTable tr {
	height: 2.5rem;
	border-bottom: 1px solid black;
}

#boardTable tr td {
	width: 15rem;
}

#offcanvas-header {
	color: white;
}

#sideBar li a {
	color: white;
}

#btn {
	margin-top: 2rem;
    margin-right: 12.5%;
    width: 10rem;
    margin-left: 78%;
}

#btn a {
	padding: 1rem 3rem 1rem 3rem;
}